{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="PichaApp">

<head>
    <base href="/">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/fav.ico' %}"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="{% static 'styles/fileinput.min.css' %} " media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" crossorigin="anonymous">
    <title>Picha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-cloak>   
    <div id="fb-root"></div>
    <div id="main-wrapper" ui-view></div>   

    <script type="text/javascript" src="{% static 'scripts/plugins/fb_file.js' %}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script type="text/javascript" src="{% static 'scripts/plugins/restangular.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'scripts/plugins/lodash.min.js'%}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.js"></script>

    <script src="{% static 'scripts/plugins/ng-file-upload-shim.min.js' %}"></script>
    <script src="{% static 'scripts/plugins/ng-file-upload.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'scripts/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/services/facebookFactory.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/services/mainFactory.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/controllers/facebookCtrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/controllers/DashboardCtrl.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/controllers/EffectsController.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'scripts/controllers/imageUpload.js' %}"></script> -->
</body>

</html>