<div class="row" id="filter-image" ng-hide="hideOtherView">
	<div class="panel-heading"><h4 class="panel-title">Filters</h4></div>
    <div class="col-sm-12 right-panel" >
        <p>BLUR</p>
        <a ng-click="applyFilter(imageFilter.BLUR)" class="thumbnail">
            <img ng-src="{{imageFilter.BLUR}}" >
        </a>
    </div>
    <div class="col-sm-12 right-panel" >
        <p>CONTOUR</p>
        <a ng-click="applyFilter(imageFilter.CONTOUR)" class="thumbnail">
            <img ng-src="{{imageFilter.CONTOUR}}" >
        </a>
    </div>
    <div class="col-sm-12 right-panel" >
        <p>DETAIL</p>
        <a ng-click="applyFilter(imageFilter.DETAIL)" class="thumbnail">
            <img ng-src="{{imageFilter.DETAIL}}" >
        </a>
    </div>
    <div class="col-sm-12 right-panel" >
        <p>BLACK AND WHITE</p>
        <a ng-click="applyFilter(imageFilter.BAW)" class="thumbnail">
            <img ng-src="{{imageFilter.BAW}}" >
        </a>
    </div>
    <div class="col-sm-12 right-panel" >
        <p>EDGE ENHANCE</p>
        <a ng-click="applyFilter(imageFilter.EDGE_ENHANCE)" class="thumbnail">
            <img ng-src="{{imageFilter.EDGE_ENHANCE}}" >
        </a>
    </div>
    <div class="col-sm-12 right-panel" >
        <p>EMBOSS</p>
        <a ng-click="applyFilter(imageFilter.EMBOS)" class="thumbnail">
            <img ng-src="{{imageFilter.EMBOS}}" >
        </a>
    </div>    
    <div class="col-sm-12 right-panel" >
        <p>SMOOTH</p>
        <a ng-click="applyFilter(imageFilter.SMOOTH)" class="thumbnail">
            <img ng-src="{{imageFilter.SMOOTH}}" >
        </a>
    </div>
    <div class="col-sm-12 right-panel" >
        <p>FIND EDGES</p>
        <a ng-click="applyFilter(imageFilter.FIND_EDGES)" class="thumbnail">
            <img ng-src="{{imageFilter.FIND_EDGES}}" >
        </a>
    </div>
    <div class="col-sm-12 right-panel" >
        <p>SHARPEN</p>
        <a ng-click="applyFilter(imageFilter.SHARPEN)" class="thumbnail">
            <img ng-src="{{imageFilter.SHARPEN}}" >
        </a>
    </div>
</div>

