<div id="image-actions">
    <div class="btn-group btn-group-sm">
        <div class="btn btn-default" ng-click="showEnhancements()">enhance</div>
        <a class="btn btn-default" ng-click='saveImage(displayImage, imageToEditId)'>
            save
        </a>
        <a class="btn btn-default" ng-click='resetEffects()'>
            <i class="zmdi zmdi-close zmdi-hc-1x"></i> reset
        </a>
        <a class="btn btn-default" ng-click='rotateImage(displayImage, 2)'>
            <i class="zmdi zmdi-rotate-left zmdi-hc-1x"></i> rotate left
        </a>
        <a class="btn btn-default" ng-click='rotateImage(displayImage, 1)'>
            <i class="zmdi zmdi-rotate-right zmdi-hc-1x"></i> rotate right
        </a>
        <a class="btn btn-default" ng-click='rotateImage(displayImage, 0)'>
            <i class="zmdi zmdi-swap-vertical zmdi-hc-1x"></i> flip vertical
        </a>
        <a class="btn btn-default" ng-click='rotateImage(displayImage, 3)'>
            <i class="zmdi zmdi-swap zmdi-hc-1x"></i> flip horizontal
        </a>
        <div class="btn btn-default" ng-click="showFilters(displayImage)">
            <i class="zmdi zmdi-filter-frames zmdi-hc-1x"></i> filters
        </div>
        <a ng-click='showTextBox()' class="btn btn-default">text</a>
        <a class="btn btn-default" ng-click="SharePhoto(displayImage)">
            <i class="zmdi zmdi-share zmdi-hc-1x"></i> share
        </a>
    </div>
</div>